*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-size-adjust: none;
}

header{
    background-color: rgb(21, 221, 21);
    width: 100%;
    height: 120px;
    display: flex;
    position: fixed;
    align-items: center;
    font-size: 24px;
}

body{
    height: 1000vh;
    -webkit-text-size-adjust: none;
}

/* NAVBAR */

li{
    list-style: none;
}

a{
    color: #563429;
    text-decoration: none;
}

.navbar{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 8%;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding img{
    transition: 0.3s;
    height: 80px;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: #f2ecae;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
}

@media(max-width:860px){
    .hamburger{
        display: block;
    }

    .hamburger span{
        background-color: #f2ecae;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #61ab5a;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-menu.active{
        left: 0;
        font-size: 24px;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .nav-menu.active li{
        width: 100%;
        height: 100%;
    }

    .nav-branding img{
        transition: 0.3s;
        height: 60px;
    }

    header{
        height: 100px;
    }

    .navbar{
        justify-content: space-between;
    }
}

@media(max-width:1240px){
    .navbar{
        font-size: 20px;
    }
}

/* Under menu options */

.under-menu-options{
    /* ////////////////////////////// */
    display: none; 
    flex-direction: column;
    background-color: rgb(22, 104, 22);
}

.under-menu-options li{
    background-color: rgb(68, 129, 68);
    height: 50px;
    width: 100%;
    border: 1px solid rgb(201, 167, 167);
    display: flex;
}

.under-menu-options li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.under-menu-options li a:hover{
    background: rgb(21, 109, 21);
}

.m-drop-down a:hover{
    color: #f2ecae;
    height: 100%;
}

.m-drop-down{
    gap: 30px;
}



/* pc-drop-down */

.pc-drop-down .under-menu-options{
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
}

.pc-drop-down a:hover{
    color: #f2ecae;
}



